@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&family=Lobster&family=Playfair+Display&family=Raleway&family=Cutive+Mono&display=swap");
/*
    root,
  body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*/
:root {
  --bg-color: #f7fafc;
  --fg-color: #000000;
  --font: "Rubik";
  --spacing: "-0.04em";
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  padding: 50px;
}

section h1,
section h2,
section h3,
section h4 {
  font-family: var(--font);
  letter-spacing: var(--spacing);
  font-weight: 600;
}

section h1,
section h2 {
  font-size: 45px;
  line-height: 45px;
}

section h3 {
  margin-top: 20px;
  font-size: 35px;
  line-height: 35px;
}

section h1 {
  margin-bottom: 10px;
}

section h2 {
  margin-bottom: 25px;
}

section p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #4f5c65;
}

section {
  padding: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#header:nth-child(even) h1,
#header:nth-child(even) h2,
#header:nth-child(even) h3,
#header:nth-child(even) p,
#header:nth-child(even) .fas {
  color: var(--fg-color);
}

#content section:nth-child(odd) h1,
#content section:nth-child(odd) h2,
#content section:nth-child(odd) h3,
#content section:nth-child(odd) p,
#content section:nth-child(odd) .fas {
  color: var(--fg-color);
}

#content section:nth-child(odd) {
  background-color: var(--bg-color);
}

#header:nth-child(odd) {
  background-color: var(--bg-color);
}

#header:nth-child(odd) .btn-secondary {
  color: var(--fg-color);
  border-color: var(--fg-color);
}

#content:nth-child(even) .btn-secondary,
#content:nth-child(even) .btn-outline-dark {
  color: var(--fg-color);
  border-color: var(--fg-color);
}

.fa-big {
  font-size: 45px;
  margin-bottom: 15px;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
